<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <title>ALL PRODUCTS</title>
      <link rel="stylesheet" href="/css/all-product.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div class="all-product">
               <div class="shop-page-wrapper">
                  <div class="container">
                     <div class="row gx-5">
                        <div class="col-lg-3" id="sticky-parent">
                           <div class="shop-sidebar" id="sticky-element">
                              <div class="sidebar-widget mb-50">
                                 <h3 class="sidebar-title">Tìm kiếm</h3>
                                 <div class="sidebar-search">
                                    <form action="#">
                                       <input placeholder="Jordan..." type="text" />
                                       <button><i class="ti-search"></i></button>
                                    </form>
                                 </div>
                              </div>
                              <div class="sidebar-widget mb-40">
                                 <h3 class="sidebar-title">Lọc theo giá</h3>
                                 <div class="price_filter">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                       <div class="label-input">
                                          <div class="amount-range-slider"></div>
                                       </div>
                                       <label>
                                          <span id="start-price">1.000.000 VND</span> -
                                          <span id="end-price">10.000.000 VND</span>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                              <div class="sidebar-widget mb-45">
                                 <h3 class="sidebar-title">Danh mục</h3>
                                 <div class="sidebar-categories">
                                    <ul>
                                       <li>
                                          <a href="#">Sneaker <span>4</span></a>
                                       </li>
                                       <li>
                                          <a href="#">Boots <span>9</span></a>
                                       </li>
                                       <li>
                                          <a href="#">sandals <span>5</span> </a>
                                       </li>
                                       <li>
                                          <a href="#">Giày tây <span>3</span></a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="sidebar-widget mb-40">
                                 <h3 class="sidebar-title">size</h3>
                                 <div class="product-size">
                                    <ul>
                                       <li class="size-item"><a href="#">38</a></li>
                                       <li class="size-item"><a href="#">39</a></li>
                                       <li class="size-item"><a href="#">40</a></li>
                                       <li class="size-item"><a href="#">41</a></li>
                                       <li class="size-item"><a href="#">42</a></li>
                                       <li class="size-item"><a href="#">43</a></li>
                                       <li class="size-item"><a href="#">44</a></li>
                                       <li class="size-item"><a href="#">45</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-9">
                           <div class="shop-product-wrapper">
                              <div class="shop-bar-area">
                                 <div class="shop-bar pb-60">
                                    <div class="shop-found-selector">
                                       <div class="shop-found">
                                          <p>
                                             <span class="" style="color:#6c6c6c; font-weight:500 "><%= productList.products.length %></span> Sản phẩm tìm thấy trong
                                             <span class="" style="color: #6c6c6c; font-weight:500"><%= productList.total %></span> sản phẩm
                                          </p>
                                       </div>
                                       <div class="shop-selector">
                                          <span class="nowrap">Sắp xếp: </span>
                                          <select class="form-select sort-select" aria-label="Default select example">
                                             <option selected>Mặc định</option>
                                             <option value="ASC">Giá Thấp -> Cao</option>
                                             <option value="DESC">Giá Cao -> Thấp</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="shop-product-content tab-content">
                                    <div id="grid-sidebar7" class="tab-pane fade active show">
                                       <div class="row">
                                          <% if(productList.products.length > 0) { %> <%
                                          productList.products.forEach(product=>{ %>
                                          <div class="col-lg-4 col-md-6">
                                             <div class="product-wrapper product-box-style mb-30">
                                                <div class="product-img">
                                                   <a href="/product/<%= product.slug%>">
                                                      <img src="<%= product.product_images %>" alt="" />
                                                   </a>
                                                   <div class="product-action">
                                                      <div class="animate-left add-to-wishlist"  title="Wishlist" data-product-id="<%= product.ID %>" ">
                                                         <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <a
                                                         class="animate-right"
                                                         title="Add To Cart"
                                                         href="/product/<%= product.slug %>"
                                                      >
                                                         <i class="ti-shopping-cart"></i>
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="product-content">
                                                   <h4>
                                                      <a href="/product/<%= product.slug %>"><%= product.name %></a>
                                                   </h4>
                                                   <span><%= product.price %></span>
                                                </div>
                                             </div>
                                          </div>
                                          <% }) %> <% } %>
                                       </div>
                                    </div>
                                    <div id="grid-sidebar8" class="tab-pane fade">
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <div
                                                class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60"
                                             >
                                                <div class="product-img list-img-width">
                                                   <a href="#">
                                                      <img
                                                         src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_e6cc4d63-d366-45dc-ab50-514a07a11358_large.jpg?v=1656739225"
                                                         alt=""
                                                      />
                                                   </a>
                                                   <span>hot</span>
                                                   <div class="product-action-list-style">
                                                      <a
                                                         class="animate-right"
                                                         title="Quick View"
                                                         data-toggle="modal"
                                                         data-target="#exampleModal"
                                                         href="#"
                                                      >
                                                         <i class="fa-regular fa-eye"></i>
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="product-content-list">
                                                   <div class="product-list-info">
                                                      <h4><a href="#">Homme Tapered Smart </a></h4>
                                                      <span>$150.00</span>
                                                      <p>
                                                         Lorem ipsum dolor sit amet, mana consectetur adipisicing elit,
                                                         sed do eiusmod tempor labore.
                                                      </p>
                                                   </div>
                                                   <div class="product-list-cart-wishlist">
                                                      <div class="product-list-cart">
                                                         <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                      </div>
                                                      <div class="product-list-wishlist">
                                                         <a class="btn-hover list-btn-wishlist" href="#">
                                                            <i class="fa-regular fa-heart"></i>
                                                         </a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-lg-12">
                                             <div
                                                class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60"
                                             >
                                                <div class="product-img list-img-width">
                                                   <a href="#">
                                                      <img src="assets/img/product/fashion-colorful/2.jpg" alt="" />
                                                   </a>
                                                   <div class="product-action-list-style">
                                                      <a
                                                         class="animate-right"
                                                         title="Quick View"
                                                         data-toggle="modal"
                                                         data-target="#exampleModal"
                                                         href="#"
                                                      >
                                                         <i class="fa-regular fa-eye"></i>
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="product-content-list">
                                                   <div class="product-list-info">
                                                      <h4><a href="#">Denim Stonewash</a></h4>
                                                      <span>$180.00</span>
                                                      <p>
                                                         Lorem ipsum dolor sit amet, mana consectetur adipisicing elit,
                                                         sed do eiusmod tempor labore.
                                                      </p>
                                                   </div>
                                                   <div class="product-list-cart-wishlist">
                                                      <div class="product-list-cart">
                                                         <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                      </div>
                                                      <div class="product-list-wishlist">
                                                         <a class="btn-hover list-btn-wishlist" href="#">
                                                            <i class="fa-regular fa-heart"></i>
                                                         </a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-lg-12">
                                             <div
                                                class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60"
                                             >
                                                <div class="product-img list-img-width">
                                                   <a href="#">
                                                      <img src="assets/img/product/fashion-colorful/3.jpg" alt="" />
                                                   </a>
                                                   <div class="product-action-list-style">
                                                      <a
                                                         class="animate-right"
                                                         title="Quick View"
                                                         data-toggle="modal"
                                                         data-target="#exampleModal"
                                                         href="#"
                                                      >
                                                         <i class="fa-regular fa-eye"></i>
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="product-content-list">
                                                   <div class="product-list-info">
                                                      <h4><a href="#">Mini Waffle 5 Pack</a></h4>
                                                      <span>$130.00</span>
                                                      <p>
                                                         Lorem ipsum dolor sit amet, mana consectetur adipisicing elit,
                                                         sed do eiusmod tempor labore.
                                                      </p>
                                                   </div>
                                                   <div class="product-list-cart-wishlist">
                                                      <div class="product-list-cart">
                                                         <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                      </div>
                                                      <div class="product-list-wishlist">
                                                         <a class="btn-hover list-btn-wishlist" href="#">
                                                            <i class="fa-regular fa-heart"></i>
                                                         </a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="pagination-style mt-10 text-center" id="pagination">
                              <ul class="pagination-tabs-list"></ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%- include('../partials/footer') %>
      </div>
      <%- include('../partials/foot') %>
      <!-- STICKY SIDER BAER HANLDER -->
      <script>
         const stickyElement = $('#sticky-element');
         const stickyParent = $('#sticky-parent');
         const headerHeight = $('.header')[0].offsetHeight;
         const screenHeight = window.screen.height;
         const footer = $('#footer');
         let isFixedSidebar = false;
         let fixedTranformValue = 0;

         $(document).on('scroll', () => {
            const { top: parentStickyTop } = stickyParent[0].getBoundingClientRect();
            const { top: footerTop } = footer[0].getBoundingClientRect();

            let tranformTopValue;
            if (parentStickyTop <= headerHeight) {
               tranformTopValue = headerHeight - parentStickyTop;
            } else {
               tranformTopValue = 0;
            }

            stickyElement.css({
               transform: `translateY(${tranformTopValue}px)`,
            });

            if (footerTop <= screenHeight) {
               if (isFixedSidebar == false) {
                  fixedTranformValue = tranformTopValue;
               }
               isFixedSidebar = true;
               stickyElement.css({
                  transform: `translateY(${fixedTranformValue}px)`,
               });
            }
         });
      </script>
      <!-- FILTER PRICE INPUT RANGE HANDLER -->
      <script type="module">
         import { formatToCurrency } from '/js/utils/index.js';
         rangeSlider(document.querySelector('.amount-range-slider'), {
            min: 0,
            max: 200,
            value: [10, 100],
            onInput: function (valueSet) {
               const startPrice = $('#start-price');
               const endPrice = $('#end-price');
               startPrice.text(formatToCurrency(valueSet[0] * 100000));
               endPrice.text(formatToCurrency(valueSet[1] * 100000));
            },
         });
      </script>
      <!-- ADD PRODUCT TO WISHLIST -->
      <script type="module">
            import {privateRequestHandler} from '/js/utils/index.js';
           $(".add-to-wishlist").click(async function (){
               const PRODUCT_ID = this.dataset.productId;
               try {
                  await privateRequestHandler(`/api/user/add-to-wishlist/${PRODUCT_ID}`,'post',{},(data,status)=>{
                  toastr[data.status](data.message);
               })
               } catch (error) {
                  toastr.error("Có lỗi xảy ra, vui lòng liên hệ quản trị viên !");
               }
            })
      </script>
      <!-- PAGINATION MODULE -->
      <script>
         const pagination = $('#pagination');
       
         const PAGE_SIZE = 9;
         const urlParams = new URLSearchParams(window.location.search);
         let currentPageNumber = Number(urlParams.get('page')) || 1;
            
         $(()=>{
            let productList = `<%- JSON.stringify(productList) %>`;
            productList = JSON.parse(productList);
            const {total : totalDataCount } = productList;
            const totalPageCount = Number(Math.ceil(totalDataCount / PAGE_SIZE));
            if(currentPageNumber > totalPageCount ){
               currentPageNumber = totalPageCount;
            }
            if(productList){
               // IIFE
               (()=>{
                  const sortByPriceSelectNode = $('.sort-select');
                  return {
                     renderPaginationTabs(){
                        const paginationList = $('.pagination-tabs-list');
                        let paginationTabHtml =`<li class="pagination-control previous-page ${currentPageNumber === 1 ? 'disable' : ''}"><a href="#"><i class="ti-angle-left"></i></a></li>`;
                        for(let i=1;i<=totalPageCount;i++){
                           paginationTabHtml += `<li class="pageNumber ${i===currentPageNumber ? 'active' : ''}"><a href="/all-product?page=${i}">${i}</a></li>`;
                        }
                        paginationTabHtml+= `<li class="pagination-control next-page ${currentPageNumber === totalPageCount ? 'disable' : ''}"><a href="#"><i class="ti-angle-right"></i></a>`;
                        paginationList.html(paginationTabHtml);
                     },
                     renderSortOptions(){
                        const urlParams = new URLSearchParams(window.location.search);
                        const sortType = urlParams.get('sort');
                        $(`.sort-select option[value="${sortType}"]`)?.attr('selected', true);
                     },
                     activePageClickHandler(){
                        const activePageTab = $('.pageNumber.active');
                        activePageTab?.click((e)=>{
                           e.preventDefault();
                        })
                     },
                     sortSelectHandler(){
                        sortByPriceSelectNode.on('change',function(){
                           const sortType = $(this).val();
                           const url = new URL(window.location.href);
                           url.searchParams.set('sort', sortType);
                           window.location.href = url.href;
                        })
                     },
                     controlTabClickHandler(){
                        const controlTabs = $('.pagination-control');
                        controlTabs.click(function(e){
                           e.preventDefault();
                           if(!$(this).hasClass('disable')){
                             if($(this).hasClass('next-page')){
                                window.location.href= `/all-product?page=${currentPageNumber + 1}`;
                             }
                             if($(this).hasClass('previous-page')){
                                window.location.href= `/all-product?page=${currentPageNumber - 1}`;
                             }
                           }
                        })
                     },
                     run(){
                        this.renderPaginationTabs();
                        this.renderSortOptions();
                        this.activePageClickHandler();
                        this.controlTabClickHandler();
                        this.sortSelectHandler();
                     }
                  }
               })().run();
            }
         })
      </script>
   </body>
</html>
