<html lang="en">

<head>
    <link rel="stylesheet" href="/css/admin-product.css">
    <%- include('../partials/head-admin') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/image-uploader.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <title>CRUD Products</title>
</head>

<body>

    <div class="modal-custom" id="myModal">
        <div class="modal-content-custom">
            <div class="close">X</div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Tên sản phẩm</span>
                <input type="text" class="form-control" placeholder="Tên sản phẩm" aria-describedby="basic-addon1"
                    id="name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Giá bán </span>
                <input type="text" class="form-control" placeholder="Giá bán" aria-label="Giá *1000 đ"
                    aria-describedby="basic-addon1" id="price">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Ngày bắt đầu bán</span>
                <input type="date" class="form-control" placeholder="" aria-describedby="basic-addon1" id="date">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Thương hiệu</span>
                <select class="form-select" aria-label="Default select example" id="brand">
                    <%brandList.forEach((element)=>{ %>
                        <option value="<%=element.dataValues.ID%>">
                            <%=element.dataValues.brandName%>
                        </option>
                        <%})%>
                </select>
                <span class="input-group-text" id="basic-addon1">Giới tính</span>
                <select class="form-select" aria-label="Default select example" id="sex">
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                    <option value="both">Unisex</option>
                </select>
                <span class="input-group-text" id="basic-addon1">Phân loại</span>
                <select class="form-select" aria-label="Default select example" id="category">
                    <%categoryList.forEach((element)=>{ %>
                        <option value="<%=element.dataValues.ID%>">
                            <%=element.dataValues.name%>
                        </option>
                        <%})%>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Trạng thái</span>
                <input type="range" min="0" max="1" id="isSelling">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Mô tả</span>
                <textarea class="form-control" rows="3" id="description"></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Chi tiết</span>
                <textarea class="form-control" rows="3" id="detail"></textarea>
            </div>
            <div class="card">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                    Chi tiết sản phẩm
                </h3>
                <div class="card-body">
                    <div id="table" class="table-editable">
                        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                    class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                        <table class="table table-bordered table-responsive-md table-striped text-center"
                            id="product_items">
                            <thead>
                                <tr>
                                    <th class="text-center">Size</th>
                                    <th class="text-center">Số lượng</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="input-field">
                <label class="active">Photos</label>
                <div class="input-images-2" style="padding-top: .5rem;"></div>
            </div>
            <button id='btn-save' onclick="createProduct()">Lưu</button>
        </div>
    </div>
    <%- include('../partials/header-admin') %>
        <div class="container">
            <button id="btn-addProduct" class="btn btn-info">Thêm sản phẩm</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Thương hiệu</th>
                        <th scope="col">Loại</th>
                        <th scope="col">Chi tiết</th>
                    </tr>
                </thead>
                <style>
                    td {
                        max-width: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                </style>
                <tbody>
                    <% productList.forEach((element)=>{ %>
                        <tr>
                            <td>
                                <%=element.dataValues.name%>
                            </td>
                            <td>
                                <%=element.dataValues.isSelling%>
                            </td>
                            <td>
                                <%=element.dataValues.price%> 000đ
                            </td>
                            <td>
                                <%=element.BRAND.dataValues.brandName%>
                            </td>
                            <% if(element.product_categories[0] !=undefined){ %>
                                <td>
                                    <%=element.product_categories[0].CATEGORY.dataValues.name%>
                                </td>
                                <% } else { %>
                                    <td>
                                        Rỗng
                                    </td>
                                    <% } %>
                                        <td><button class="btn btn-info btn-modify-product"
                                                id='<%=element.dataValues.ID%>' onclick="getOneProduct(this.id)">Chi
                                                tiết</button></td>
                        </tr>
                        <% })%>
                </tbody>
            </table>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
></script>
        <script src="../../../js/CRUDProduct.js"> </script>
        <script src="/js/library/image-uploader.min.js"></script>
        <script>
            $(function () {
                $('form').on('submit', function (event) {
    
                    // Stop propagation
                    event.preventDefault();
                    event.stopPropagation();
    
                    // Get some vars
                    let $form = $(this),
                        $modal = $('.modal');
    
                    // Set name and description
                    $modal.find('#display-name span').text($form.find('input[id^="name"]').val());
                    $modal.find('#display-description span').text($form.find('input[id^="description"]').val());
    
                    // Get the input file
                    let $inputImages = $form.find('input[name^="images"]');
                    if (!$inputImages.length) {
                        $inputImages = $form.find('input[name^="photos"]')
                    }
    
                    // Get the new files names
                    let $fileNames = $('<ul>');
                    for (let file of $inputImages.prop('files')) {
                        $('<li>', { text: file.name }).appendTo($fileNames);
                    }
    
                    // Set the new files names
                    $modal.find('#display-new-images').html($fileNames.html());
    
                    // Get the preloaded inputs
                   let $inputPreloaded = $form.find('input[name^="old"]');
    
                    if ($inputPreloaded.length) {
    
                        // Get the ids
                        let $preloadedIds = $('<ul>');
                        for (let iP of $inputPreloaded) {
                            $('<li>', { text: '#' + iP.value }).appendTo($preloadedIds);
                        }
    
                        // Show the preloadede info and set the list of ids
                        $modal.find('#display-preloaded-images').show().html($preloadedIds.html());
    
                    } else {
    
                        // Hide the preloaded info
                        $modal.find('#display-preloaded-images').hide();
    
                    }
                const img_file= $('.image-uploader >input')[0].files;
                console.log(img_file);
                });
    
                // Input and label handler
                $('input').on('focus', function () {
                    $(this).parent().find('label').addClass('active')
                }).on('blur', function () {
                    if ($(this).val() == '') {
                        $(this).parent().find('label').removeClass('active');
                    }
                });
    
                // Sticky menu
                let $nav = $('nav'),
                    $header = $('header'),
                    offset = 4 * parseFloat($('body').css('font-size')),
                    scrollTop = $(this).scrollTop();
    
                // Initial verification
                setNav();
    
                // Bind scroll
                $(window).on('scroll', function () {
                    scrollTop = $(this).scrollTop();
                    // Update nav
                    setNav();
                });
    
                function setNav() {
                    if (scrollTop > $header.outerHeight()) {
                        $nav.css({ position: 'fixed', 'top': offset });
                    } else {
                        $nav.css({ position: '', 'top': '' });
                    }
                }
            });
        </script>
    
</body>

</html>