<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <title>PRODUCT DETAILS</title>
      <link rel="stylesheet" href="/css/product-detail.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div id="product-detail-page">
               <div class="product-details">
                  <div class="container">
                     <div class="row gx-5">
                        <div class="col-md-12 col-lg-6 col-12">
                           <div class="product-details-img-content">
                              <div class="product-details-tab mr-35 product-details-tab2">
                                 <div class="product-details-large tab-content">
                                    <% for(let i = 0;i< productDetail.product_images.length;i++) { %>
                                    <div
                                       class="tab-pane fade <%= i===0 ? 'active show' : '' %>"
                                       id="pro-details<%= i+1 %>"
                                       role="tabpanel"
                                    >
                                       <div class="easyzoom easyzoom--overlay">
                                          <a target="_blank" href="<%= productDetail.product_images[i] %>">
                                             <img src="<%= productDetail.product_images[i] %>" alt="" />
                                          </a>
                                       </div>
                                    </div>
                                    <% }%>
                                 </div>
                                 <div class="product-details-small nav ml-10 product-details-2" role="tablist">
                                    <div class="swiper product-images-slide">
                                       <div class="swiper-wrapper">
                                          <% productDetail.product_images?.forEach((imgURL,i)=>{ %>
                                          <a
                                             class="mb-10 swiper-slide <%= i===0 ? 'active' : '' %>"
                                             href="#pro-details<%= i+1 %>"
                                             data-bs-toggle="list"
                                             role="tab"
                                             aria-selected="true"
                                          >
                                             <img class="<%= i===0 ? 'main-image' : '' %>" src="<%= imgURL %>" alt="" />
                                          </a>
                                          <%}) %>
                                       </div>
                                       <div class="swiper-pagination"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-12">
                           <div class="product-details-content">
                              <h3 id="product-name"><%= productDetail.name %>e</h3>
                              <div class="rating-number">
                                 <div class="quick-view-rating">
                                    <i class="fa-solid fa-star yellow-star"></i>
                                    <i class="fa-solid fa-star yellow-star"></i>
                                    <i class="fa-solid fa-star yellow-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                 </div>
                                 <div class="quick-view-number">
                                    <span>3 sao Ratting (S)</span>
                                 </div>
                              </div>
                              <div class="details-price">
                                 <span><%= productDetail.price %></span>
                              </div>
                              <p>
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmol tempor incidid
                                 ut labore et dolore magna aliqua. Ut enim ad minim veni quis nostrud exercitation
                                 ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                              </p>
                              <div class="quick-view-select">
                                 <div class="select-option-part">
                                    <label>Size*</label>
                                    <ul class="size-list row">
                                       <% productDetail.product_items.forEach(product=>{ %>
                                       <li
                                          class="size-item <%= product.inventory <= 0 ? 'disable' : '' %>"
                                          data-inventory="<%= product.inventory %>"
                                          data-product-id="<%= product.ID %>"
                                       >
                                          <%= product.size %>
                                       </li>
                                       <% }) %>
                                    </ul>
                                    <div style="margin-top: 2rem">
                                       Số lượng trong kho:
                                       <span style="font-size: 1.8rem; font-weight: 400" class="product-quantity"
                                          >...</span
                                       >
                                    </div>
                                 </div>
                              </div>
                              <div class="quickview-plus-minus">
                                 <div class="cart-plus-minus">
                                    <div class="dec qtybutton">-</div>
                                    <input
                                       type="text"
                                       value="1"
                                       name="qtybutton"
                                       class="cart-plus-minus-box"
                                       id="product-count"
                                    />
                                    <div class="inc qtybutton">+</div>
                                 </div>
                                 <div class="quickview-btn-cart">
                                    <div class="button disable" id="add-to-cart">add to cart</div>
                                 </div>
                                 <div class="quickview-btn-wishlist">
                                    <div
                                       class="btn-hover"
                                       id="add-to-wishlist"
                                       data-product-id="<%= productDetail.ID %>"
                                    >
                                       <i class="fa-regular fa-heart"></i>
                                    </div>
                                 </div>
                              </div>
                              <div style="margin-top: 14px" class="warning-message wow shakeX">
                                 Vui lòng chọn size !
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="product-description-review-area">
                  <div class="container">
                     <div class="product-description-review text-center">
                        <div class="description-review-title nav" role="tablist">
                           <a class="active" href="#pro-dec" data-bs-toggle="list" role="tab" aria-selected="true">
                              Mô tả sản phẩm
                           </a>
                           <a href="#pro-review" data-bs-toggle="list" role="tab" aria-selected="false">
                              Đánh giá (0)
                           </a>
                        </div>
                        <div class="description-review-text tab-content">
                           <div class="tab-pane active show fade" id="pro-dec" role="tabpanel">
                              <p>
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                 exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                 dolor in
                              </p>
                           </div>
                           <div class="tab-pane fade" id="pro-review" role="tabpanel">
                              <a class="button" href="#">Trở thành người đầu tiên viết đánh giá cho sản phẩm !</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="product-area">
                  <div class="container">
                     <div class="section-title-3">
                        <h2>Sản phẩm liên quan</h2>
                     </div>
                     <div class="product-style">
                        <div class="glide related-products">
                           <div class="related-product-active glide__track" data-glide-el="track">
                              <div class="glide__slides">
                                 <div class="product-wrapper glide__slide">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_b99ea025-62e2-4457-8c7d-31afc7c47590_1296x.jpg?v=1657526503"
                                             alt=""
                                          />
                                       </a>
                                       <span>hot</span>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-top" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                          <a
                                             class="animate-right"
                                             title="Quick View"
                                             data-toggle="modal"
                                             data-target="#exampleModal"
                                             href="#"
                                          >
                                             <i class="fa-regular fa-eye"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <h4><a href="#">Arifo Stylas Dress</a></h4>
                                       <span>$115.00</span>
                                    </div>
                                 </div>
                                 <div class="product-wrapper glide__slide">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_e6cc4d63-d366-45dc-ab50-514a07a11358_large.jpg?v=1656739225"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-top" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                          <a
                                             class="animate-right"
                                             title="Quick View"
                                             data-toggle="modal"
                                             data-target="#exampleModal"
                                             href="#"
                                          >
                                             <i class="fa-regular fa-eye"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <h4><a href="#">Arifo Stylas Dress</a></h4>
                                       <span>$115.00</span>
                                    </div>
                                 </div>
                                 <div class="product-wrapper glide__slide">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_14961e9a-1e1b-4d1e-a8d2-2e4fedf3bc91_large.jpg?v=1656283010"
                                             alt=""
                                          />
                                       </a>
                                       <span>hot</span>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-top" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                          <a
                                             class="animate-right"
                                             title="Quick View"
                                             data-toggle="modal"
                                             data-target="#exampleModal"
                                             href="#"
                                          >
                                             <i class="fa-regular fa-eye"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <h4><a href="#">Arifo Stylas Dress</a></h4>
                                       <span>$115.00</span>
                                    </div>
                                 </div>
                                 <div class="product-wrapper glide__slide">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_2d012beb-bf98-4485-8fed-14a6c37be834_large.jpg?v=1656588942"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-top" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                          <a
                                             class="animate-right"
                                             title="Quick View"
                                             data-toggle="modal"
                                             data-target="#exampleModal"
                                             href="#"
                                          >
                                             <i class="fa-regular fa-eye"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <h4><a href="#">Arifo Stylas Dress</a></h4>
                                       <span>$115.00</span>
                                    </div>
                                 </div>
                                 <div class="product-wrapper glide__slide">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_b0789392-9e1f-44f8-ad9b-b346a0453fca_large.jpg?v=1656305785"
                                             alt=""
                                          />
                                       </a>
                                       <span>hot</span>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-top" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                          <a
                                             class="animate-right"
                                             title="Quick View"
                                             data-toggle="modal"
                                             data-target="#exampleModal"
                                             href="#"
                                          >
                                             <i class="fa-regular fa-eye"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <h4><a href="#">Arifo Stylas Dress</a></h4>
                                       <span>$115.00</span>
                                    </div>
                                 </div>
                                 <div class="product-wrapper glide__slide">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_2d012beb-bf98-4485-8fed-14a6c37be834_large.jpg?v=1656588942"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-top" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                          <a
                                             class="animate-right"
                                             title="Quick View"
                                             data-toggle="modal"
                                             data-target="#exampleModal"
                                             href="#"
                                          >
                                             <i class="fa-regular fa-eye"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <h4><a href="#">Arifo Stylas Dress</a></h4>
                                       <span>$115.00</span>
                                    </div>
                                 </div>
                                 <div class="product-wrapper glide__slide">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_b99ea025-62e2-4457-8c7d-31afc7c47590_1296x.jpg?v=1657526503"
                                             alt=""
                                          />
                                       </a>
                                       <span>hot</span>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-top" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                          <a
                                             class="animate-right"
                                             title="Quick View"
                                             data-toggle="modal"
                                             data-target="#exampleModal"
                                             href="#"
                                          >
                                             <i class="fa-regular fa-eye"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <h4><a href="#">Arifo Stylas Dress</a></h4>
                                       <span>$115.00</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%- include('../partials/footer') %>
      </div>
      <%- include('../partials/foot') %>
      <script src="/js/library/glide.min.js"></script>
      <script type="module">
         import { formatToCurrency, privateRequestHandler } from '/js/utils/index.js';
         import deleteCartItemOnLick from '/js/utils/deleteCartItemHandler.js';

         new Glide('.glide.related-products', {
            type: 'carousel',
            perView: 4,
            gap: 20,
         }).mount();

         const swiper = new Swiper('.swiper.product-images-slide', {
            direction: 'vertical',
            slidesPerView: 4,
            pagination: {
               el: '.swiper-pagination',
               clickable: true,
            },
         });

         $(() => {
            const sizeItems = $('.size-list > .size-item');
            const addToCartBtn = $('#add-to-cart');
            const warningMessageBtn = $('.warning-message');
            sizeItems.click(function () {
               if (!$(this).hasClass('disable')) {
                  addToCartBtn.removeClass('disable');
                  warningMessageBtn.removeClass('active');
                  sizeItems.removeClass('active');
                  $(this).addClass('active');
                  const inventory = this.dataset.inventory;
                  if (Number(inventory) < Number($('#product-count').val())) {
                     $('#product-count').val(inventory);
                  }
                  $('.product-quantity').text(inventory);
                  const size = $(this).text();
               }
            });
            const productCountEle = $('#product-count');
            const plusBtn = $('.inc.qtybutton');
            const minusBtn = $('.dec.qtybutton');
            let currentVal = Number(productCountEle.val());

            const checkActiveSelectedSize = () => {
               if (!$('.size-item.active').length) {
                  warningMessageBtn.addClass('active');
               }
               return $('.size-item.active').length;
            };

            minusBtn.click(() => {
               const isSelectSize = checkActiveSelectedSize();
               if (isSelectSize) {
                  currentVal > 1 && currentVal--;
                  productCountEle.val(currentVal);
               }
            });

            plusBtn.click(() => {
               const isSelectSize = checkActiveSelectedSize();
               const currentProductCount = $('.product-quantity').text();

               if (isSelectSize) {
                  const convertNumber = Number(currentProductCount);
                  if (currentVal < convertNumber) {
                     currentVal++;
                     productCountEle.val(currentVal);
                  }
               }
            });

            function convertFromStringToNumber(stringNumber) {
               const removeUnit = stringNumber.slice(0, stringNumber.length - 4);
               let numberArray = removeUnit.split('.');
               numberArray = numberArray.join('');
               return Number(numberArray);
            }

            addToCartBtn.click(async function () {
               if (!$(this).hasClass('disable')) {
                  warningMessageBtn.removeClass('active');
                  const productItemID = $('.size-item.active')[0].dataset.productId;
                  const quantity = $('#product-count').val();
                  const payload = { productItemID, quantity };

                  const productImage = $('.main-image').attr('src');
                  const productName = $('#product-name').text();
                  let productPrice = $('.details-price span').text();
                  productPrice = convertFromStringToNumber(productPrice);
                  let productTotalPrice = productPrice * quantity;

                  productPrice = formatToCurrency(productPrice);
                  productTotalPrice = formatToCurrency(productTotalPrice);

                  const productSize = $('.size-item.active').text().trim();
                  try {
                     await privateRequestHandler('/api/user/add-to-cart', 'post', payload, (data, status) => {
                        toastr[data.status](data.message);
                        if (data.status === 'success') {
                           const cartItemQuantity = Number($('.shop-count.pink').text());
                           $('.shop-count.pink').text(cartItemQuantity + 1);
                           let additionHTML = '';
                           if ($('.cart-scroll-list')?.children()?.length === 0 || !$('.cart-scroll-list').length) {
                              additionHTML = `
                              <div class="cart-scroll-list">
                                 <li class="single-product-cart">
                                    <div class="cart-img">
                                       <a href="#"><img src="${productImage}" alt="" /></a>
                                    </div>
                                    <div class="cart-title">
                                       <h5><a href="#">${productName}</a></h5>
                                       <h6>SIZE ${productSize}</h6>
                                       <span> ${productPrice} x  ${quantity} </span>
                                    </div>
                                    <div
                                       class="cart-delete"
                                       data-cart-price="${productPrice}"
                                       data-product-id="${productItemID}"
                                    >
                                       <i class="ti-trash"></i>
                                    </div>
                                 </li>
                              </div>
                              <div class="cart-foot">
                                 <li class="cart-space">
                                    <div class="cart-sub">
                                       <h4>Tổng cộng</h4>
                                    </div>
                                    <div class="cart-price">
                                       <h4>${productTotalPrice}</h4>
                                    </div>
                                 </li>
                                 <li class="cart-btn-wrapper">
                                    <a class="button full" href="/cart">Xem giỏ hàng</a>
                                 </li>
                              </div>
                              `;
                              $('.cart-dropdown')[0].innerHTML = additionHTML;
                           } else {
                              const cartItem = document.createElement('li');
                              cartItem.classList.add('single-product-cart');
                              cartItem.innerHTML = `
                              <div class="cart-img">
                                 <a href="#"><img src="${productImage}" alt="" /></a>
                              </div>
                              <div class="cart-title">
                                 <h5><a href="#">${productName}</a></h5>
                                 <h6>SIZE ${productSize}</h6>
                                 <span> ${productPrice} x  ${quantity} </span>
                              </div>
                              <div
                                 class="cart-delete"
                                 data-cart-price="${productPrice}"
                                 data-product-id="${productItemID}"
                              >
                                 <i class="ti-trash"></i>
                              </div>
                              `;
                              $('.cart-scroll-list')[0].appendChild(cartItem);
                              const cartPrice = $('.cart-price > h4').text().trim();
                              const totalPrice = convertFromStringToNumber(cartPrice);
                              const additionPrice = convertFromStringToNumber(productPrice) * quantity;
                              const newPrice = totalPrice + additionPrice;
                              $('.cart-price > h4').text(formatToCurrency(newPrice));
                           }
                           //
                           const lastCartItem = $('.single-product-cart:last-child');
                           const deleteCartBtn = lastCartItem.find('.cart-delete');
                           console.log(deleteCartBtn);
                           deleteCartBtn?.click(function () {
                              deleteCartItemOnLick(this, privateRequestHandler, formatToCurrency);
                           });
                        }
                     });
                  } catch (error) {
                     console.log('🚀 ~ file: product-detail.ejs ~ line 481 ~ error', error);
                     toastr.error('Thêm sản phẩm xảy ra lỗi !');
                  }
               } else {
                  warningMessageBtn.addClass('active');
               }
            });
            const addToWishlistBtn = $('#add-to-wishlist');
            addToWishlistBtn.click(async function () {
               const productID = this.dataset.productId;
               try {
                  await privateRequestHandler(`/api/user/add-to-wishlist/${productID}`, 'post', {}, (data, status) => {
                     toastr[data.status](data.message);
                  });
               } catch (error) {
                  toastr.error('Có lỗi xảy ra, vui lòng liên hệ quản trị viên !');
               }
            });
         });
      </script>
   </body>
</html>
