<html lang="en">
   <head>
      <%- include('../../partials/head'); %>
      <title>PURCHASE ORDER</title>
      <link rel="stylesheet" href="/css/purchase-order.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div id="purchase-order">
               <div class="container page-container">
                  <h1 class="page-heading">
                     <span>Đơn mua</span>
                  </h1>
                  <div class="container">
                     <div class="row">
                        <ul class="purchase-tabs d-flex">
                           <li class="purchase-item col active">Tất cả</li>
                           <li class="purchase-item col">Chờ xác nhận</li>
                           <li class="purchase-item col">Đã giao</li>
                           <li class="purchase-item col">Đã hủy</li>
                        </ul>
                     </div>
                     <div class="row mt-1">
                        <div class="purchase-container">
                           <% if(orderList?.length > 0){ %> <% orderList.forEach(order => { %>
                           <div
                              class="purchase-wrapper <%= order.orderStatus === 'cancle' ? 'cancel' : order.orderStatus == 'success' ? 'success' : '' %>"
                           >
                              <div class="purchase-head">
                                 <div class="d-flex justify-content-between">
                                    <div>
                                       Mã đơn hàng:
                                       <span><%= order.ID %></span>
                                    </div>
                                    <div class="purchase-info d-flex">
                                       <div class="purchase-order-time">
                                          <span
                                             ><%= order.orderTime.getDate() %>/<%= order.orderTime.getMonth() + 1 %>/<%=
                                             order.orderTime.getFullYear() %></span
                                          >
                                       </div>
                                       <div class="divider-vertical"></div>
                                       <div class="purchase-status"><%= order.diliveryStatus ?? 'Đang xử lý ' %></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="purchase-body">
                                 <div class="purchase-product-list">
                                    <% order.productItems.forEach(product=>{ %>
                                    <div class="purchase-product-item d-flex justify-content-between">
                                       <div class="left-section d-flex">
                                          <div class="product-img">
                                             <a href="/product/<%= product?.PRODUCT?.slug %>">
                                                <img
                                                   src="<%= product?.PRODUCT?.product_images %>"
                                                   alt="<%= product?.PRODUCT?.name  %>"
                                                />
                                             </a>
                                          </div>
                                          <div class="product-info">
                                             <a href="/product/<%= product?.PRODUCT?.slug %>">
                                                <p class="name"><%= product?.PRODUCT?.name %></p>
                                             </a>
                                             <p class="price">Giá: <%= product.order_detail.price %></p>
                                             <p class="size">Size: <%= product.size %></p>
                                             <p class="quantity">
                                                <span class="denind-uppercase">x</span>
                                                <span><%= product.order_detail.quantity %></span>
                                             </p>
                                          </div>
                                       </div>
                                       <div class="center-section">
                                          <a href="/product/<%= product?.PRODUCT?.slug %>#comment">
                                             <button class="button light">Đánh giá</button>
                                          </a>
                                       </div>
                                       <div class="right-section">
                                          <% if(product.order_detail.discount_percent > 0) { %>
                                          <div class="origin-price">
                                             <%= product.order_detail?.price %> x <%= product.order_detail.quantity %>
                                          </div>
                                          <div class="discount">- <%= product.order_detail?.discount_percent %> %</div>
                                          <% } else {%>
                                          <div>-</div>
                                          <div>-</div>
                                          <% } %>
                                          <div class="last-price"><%= product.order_detail?.intoMoney %></div>
                                       </div>
                                    </div>
                                    <% }) %>
                                 </div>
                              </div>
                              <div class="purchase-foot">
                                 <div class="d-flex justify-content-between">
                                    <div></div>
                                    <div class="total-price">
                                       Tổng tiền
                                       <span><%= order.totalMoney %></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <% }) %> <% } else { %>
                           <h3 style="margin-top: 2rem; text-align: center">Bạn không có đơn hàng nào !</h3>
                           <% } %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%- include('../../partials/footer') %>
      </div>
      <%- include('../../partials/foot') %>
   </body>
</html>
