<html lang="en">
   <head>
      <%- include('../../partials/head'); %>
      <link rel="stylesheet" href="/css/library/responsize.css" />
      <link rel="stylesheet" href="/css/wishlist.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div class="cart-main-area pt-95 pb-100 wishlist">
               <div class="container">
                  <h1 class="cart-heading">wishlist</h1>
                  <form action="#">
                     <div class="product-style">
                        <div class="custom-row row gx-5 gy-5">
                           <% wishlist.forEach((product)=> { %>
                           <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="product-wrapper">
                                 <div class="product-img">
                                    <a href="#">
                                       <img src="<%= product.PRODUCT.product_images %>" alt="" />
                                    </a>
                                    <div class="add-to-cart">
                                       <i class="ti-shopping-cart"></i>
                                    </div>
                                 </div>
                                 <div class="product-content">
                                    <div class="category__brand"><%= product.PRODUCT.BRAND%></div>
                                    <h4>
                                       <a href="#"><%= product.PRODUCT.name%></a>
                                    </h4>
                                    <span><%= product.PRODUCT.price %></span>
                                 </div>
                                 <div class="product-remove">
                                    <i class="ti-close"></i>
                                 </div>
                              </div>
                           </div>
                           <% })%>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <%- include('../../partials/footer') %>
      </div>
      <%- include('../../partials/foot') %>
   </body>
</html>
